<html lang="en-US">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="google-signin-client_id" content="860177011019-ti6sgag4jgcf3hmcr54trmmqkdofoee8.apps.googleusercontent.com">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<title>Welcome</title>
		<!-- Bootstrap -->
		<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">		
		<!-- Custom styles for this template -->
		<link href="dashboard.css" rel="stylesheet">		
		<!-- scripts -->
		<script src="https://apis.google.com/js/platform.js"></script>
		<script>
			/* The Sign-In client object.*/
			var auth2;

			/**
			* Initializes the Sign-In client.
			*/
			
			gapi.load('auth2', function() {
				/**
				* Retrieve the singleton for the GoogleAuth library and set up the
				* client.
				*/
				auth2 = gapi.auth2.init({
					client_id: '860177011019-ti6sgag4jgcf3hmcr54trmmqkdofoee8.apps.googleusercontent.com'
				});

				// Attach the click handler to the sign-in button
				//auth2.attachClickHandler('signin-button', {}, onSuccess, onFailure);
			});
			
			function signOut() {
				var auth2 = gapi.auth2.getAuthInstance();
				auth2.signOut().then(function () {
					console.log('Signed out');
					//kill session on server side
					var xhr = new XMLHttpRequest();					
					xhr.open('POST', 'http://localhost:7777/signout');
					xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
					xhr.onload = function () {
						console.log('killed server side session:' + xhr.responseText);
						console.log('redirecting... ');
						setTimeout(function () {
							window.location = "http://localhost:7777/index.html";
						}, 500);
					};
					xhr.send(null);
				});
			};
		</script>
	</head>
	<body ng-app="app">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-10 main">
					<h1>Welcome!</h1>
					<p>Click here to sign out</p>
					<a href="#" onclick="signOut();">Sign out</a>
				</div>
				<div class="col-md-10 main" ng-controller="GraphController">
					<h1 class="page-header">Dashboard</h1>
					<canvas class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" chart-click="onClick"></canvas> 
				</div>
				<div class="col-md-2 sidebar">					
					<div id="chat" ng-controller="ChatController">
						<ul id="chat-window">
							<li ng-repeat="chatWindowMessage in messages track by $index">{{chatWindowMessage}}</li>
						</ul>
						
						<form id="chat-box" ng-submit="submitChat();">
							<!-- <input id="message" type="text" placeholder="message"  />
							<input type="submit" value="Send" /> -->
							<div class="send-wrap ">
								<textarea id="message" ng-model='newMessage' class="form-control send-message" rows="3" placeholder="Write a reply..."></textarea>
							</div>
							<div class="btn-panel">
								<input class="btn btn-primary btn-block pull-right" type="submit" value="Send" ng-disabled="!hasNewMessage()" />
							</div>
						</form>
					</div>
				</div>
			</div>
		</div><!-- .container-fluid -->				
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="bower_components/jquery/dist/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>	
		<script src="bower_components/socket.io-client/dist/socket.io.js"></script>
		<script src="bower_components/chart.js/dist/Chart.min.js"></script>
        <!-- <script src="client.js"></script>  -->        
        <!-- angular stuff -->
        <script src="bower_components/angular/angular.min.js"></script>		
		<script src="bower_components/angular-chart.js/dist/angular-chart.min.js"></script>
		<script src="config.js"></script>
		<script src="graphController.js"></script>
		<script src="chatController.js"></script>
		<script src="bindings.js"></script>
	</body>
</html>
